<h1>Browse latest 250 test cases</h1>

<form action="/search" method="get">
	<p>Looking for a specific test case? Search!</p>
	<input type="search" name="q" placeholder="e.g. canvas">
	<input type="submit" value="Search">
</form>

{{error genError tag="p"}}

{{> browse-pages}}
