<head>
  <meta charset="utf-8">
  <title>{{title}}</title>

  <link rel="stylesheet" href="/_css/{{cssFile}}">

  <!--[if lt IE 9]>
    <script src="/html5.js"></script>
  <![endif]-->
</head>

<body>

  <article>
