<h1>Contributors</h1>

<p>
  <a href="/">jsPerf</a> was created by <strong><a href="//mathiasbynens.be/" title="Mathias Bynens, front-end web developer">Mathias Bynens</a></strong> and launched on August 1st, 2010.
</p>

<p>
  On the same day, Mathias created the <a href="//benchmarkjs.com/">Benchmark.js</a> project, which was originally a modified fork of <strong><a href="//www.broofa.com/">Robert Kieffer</a></strong>’s <a href="//www.broofa.com/Tools/JSLitmus/">JSLitmus</a>.
</p>

<p>
  <strong>Lindsey Simon</strong>, of Google, was kind enough to extend the <a href="//www.browserscope.org/">Browserscope</a> API to allow jsPerf to programmatically submit new tests. This enabled jsPerf to use Browserscope to collect test results across different platforms, devices, and browsers.
</p>

<p>
  <strong><a href="//allyoucanleet.com/">John-David Dalton</a></strong> started collaborating on Benchmark.js in October 2010, separating the test harness from the UI, adding lots of awesome features, fixing bugs, and adding support for pretty much every JavaScript environment out there. JD quickly became the lead Benchmark.js developer.
</p>

<p>
  jsPerf.com was open sourced in October 2011. Please visit the <a href="https://github.com/mathiasbynens/jsperf.com">jsPerf.com GitHub repository</a> for <a href="https://github.com/mathiasbynens/jsperf.com/contributors">a more complete list of contributors</a>.
</p>
