<h1>Testimonials</h1>
<blockquote>
  <p>“jsPerf is like a biggest dick contest… Except everyone wants the smallest dick.”</p>
  <p>— <a href="http://twitter.com/ajpiano" rel="nofollow">@ajpiano</a></p>
</blockquote>
<blockquote>
  <p>“200 ops per second? That’s what she said.”</p>
  <p>— <a href="http://twitter.com/danheberden" rel="nofollow">@danheberden</a></p>
</blockquote>
<blockquote>
  <p>“jsPerf: waste an hour saving 8 milliseconds.”</p>
  <p>— <a href="http://twitter.com/ajpiano" rel="nofollow">@ajpiano</a></p>
</blockquote>
<blockquote>
  <p>“jsPerf allows me to set low personal standards for my code and then helps me consistently fail to achieve them. Gotta love performance testing.”</p>
  <p>— <a href="http://twitter.com/addyosmani" rel="nofollow">@addyosmani</a></p>
</blockquote>
<blockquote>
  <p>“Even worse than HTML5.”</p>
  <p>— Douglas Crockford</p>
</blockquote>
<blockquote>
  <p>“NO U”</p>
  <p>— <a href="http://twitter.com/gf3" rel="nofollow">@gf3</a></p>
</blockquote>
<blockquote>
  <pre>[06:36:10] &lt;FBI> matjas: no one is allowed to know how fast for loops run according to DMCA 234.23.A<br>[06:36:20] &lt;FBI> please remove all information regarding this
  </pre>
</blockquote>
