<h1>Search jsPerf</h1>

<form action="/search" method="post">
    <p>Looking for a specific test case? Search!</p>
    <input type="search" name="q" placeholder="e.g. canvas" value={{q}}>
    <input type="submit" value="Search">
</form>
