<h1>Sponsor</h1>

<p>
  Development of jsPerf is generously supported by contributions from individuals and corporations. If you are benefiting from jsPerf and would like to help keep the project financially sustainable, please donate to a core contributor.
</p>

<h2>Core Contributors</h2>

<dl>
  <dt>
    Mathias Bynens
  </dt>
  <dd>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paypal">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB6QN6LnqHNstm+Hn9+hPUjtPAntGObtfN6qOGSWpfDwHb6orBpXqXMatYGSIm0PIRBlQF7eG9gugMFAjh548ZOG++ivzn5omKQoGqd4fwNzICKWzwePHHQhztxd+B1iXPlD4oosB0JAB9zGmo+YpXCf/5jKfbnkNb3KqcMf4PblDELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIoqdetuhRje+AgZBLqyP4RanUumz0+FsVZDjaw4bq5Djuj5J8Lh87tzlyPL+fu1jNFSGJwqUSU14f4q53sEpvK6vMK3pcbHRDQw/qNkFORRY5prw6tuWp7KQmWHuMqyyTkJ+zNXDRmrJ2ITph1s75BdvnMvAJAU6lEOC9+7Hkl1EfspxM47qCltsPPeRX6fgGMfA6lltOLhlv1ASgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMTAyMjMyMDA1NDJaMCMGCSqGSIb3DQEJBDEWBBSJdqTK+XID8s5QPN8SKu/5gstrPzANBgkqhkiG9w0BAQEFAASBgGdTYFfD0x+cgBYHzUOLKiiygtrPZoW1X+2LS5JUnQdbpZvtm/U2GGzjK2eLXS8WyCYROctsmrTPXPWXGVc2qQKftsVCdh7GM2pOKlEF7Iu/KHhrtEtwmoeojGZ9VRo5DLAwQUZs+bnW+jmgRoDdfm6diQls4iI9PxKmGTbgMY4b-----END PKCS7-----">
      <input type="submit" class="btn-link" name="submit" value="PayPal">
    </form>
  </dd>

  <dt>
    Max Beatty
  </dt>
  <dd>
    <a href="https://www.patreon.com/maxbeatty">Patreon</a>
  </dd>

  <dt>
    Andrew Silluron
  </dt>
  <dd>
    <a href="https://www.patreon.com/user?u=4672491">Patreon</a>
  </dd>
</dl>
